.app-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #5c6b77;
  min-height: 100vh;
}
.search-input-container {
  display: flex;
  justify-content: space-between;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  max-width: 1125px;
  width: 90%;
  margin-top: 20px;
}
.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 100%;
  outline: none;
}

.search-icon {
  height: 20px;
  width: 20px;
}
.user-list-container {
  width: 100%;
}
.userlist-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.name {
  color: #000000;
  font-family: "Roboto";
  font-size: 16px;
}
.role {
  color: #000000;
  font-family: "Roboto";
  font-size: 16px;
}
.email {
  color: #000000;
  font-family: "Roboto";
  font-size: 16px;
}
.input-container {
  width: 120px;
}
.actions {
  font-family: "Roboto";
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    width: 170px;
    margin-left: 10px;
  }
  .email {
    font-size: 20px;
    width: 170px;
  }
  .role {
    font-size: 20px;
    width: 150px;
  }
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  width: 90%;
  padding: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1110px;
}

.heading {
  color: #ff8542;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

.user-list {
  padding-left: 0px;
  width: 100%;
}
.delete-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #a01800;
  color: #f1f5f9;
  font-family: "Roboto";
  border-style: none;
  font-size: 17px;
  align-self: flex-start;
  margin-left: 90px;
}
