.user-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.action-container {
  display: flex;
  justify-content: space-around;
  width: 50px;
}
